[submodule "misc/catkin_simple"]
	path = misc/catkin_simple
	url = https://github.com/catkin/catkin_simple.git
[submodule "misc/eigen_checks"]
	path = misc/eigen_checks
	url = https://github.com/ethz-asl/eigen_checks.git
[submodule "misc/minkindr"]
	path = misc/minkindr
	url = https://github.com/ethz-asl/minkindr.git
[submodule "misc/gflags_catkin"]
	path = misc/gflags_catkin
	url = https://github.com/ethz-asl/gflags_catkin.git
[submodule "misc/minkindr_ros"]
	path = misc/minkindr_ros
	url = https://github.com/ethz-asl/minkindr_ros.git
[submodule "misc/eigen_catkin"]
	path = misc/eigen_catkin
	url = https://github.com/ethz-asl/eigen_catkin.git
[submodule "misc/glog_catkin"]
	path = misc/glog_catkin
	url = https://github.com/ethz-asl/glog_catkin.git
