<?xml version="1.0"?>

<model>
  <name>Heat Victim Woman Red Signature</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Fatemeh pahlevan</name>
    <email>reyhaneh.pahlevan@gmail.com</email>
  </author>

  <description>
    A woman victim
  </description>

</model>
